@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 1rem;
}

body {
  @apply bg-neutral-50 text-neutral-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
